<h1>New Photo</h1>

<% form_for(@photo) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
   <p>
    <%= f.label :date_taken %><br />
    <%= f.text_field :date_taken %>
  </p>
   <p>
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
