<p>
  <b>Photo type:</b>
  <%=h @photos.photo_type %>
</p>

<p>
  <b>Title:</b>
  <%=h @photos.title %>
</p>

<p>
  <b>Taken:</b>
  <%=h @photos.taken %>
</p>

<p>
  <b>Description:</b>
  <%=h @photos.description %>
</p>

<p>
  <b>Url:</b>
  <%=h @photos.url %>
</p>

<p>
  <b>Client:</b>
  <%=h @photos.client %>
</p>


<%= link_to 'Edit', edit_photo_path(@photos) %> |
<%= link_to 'Back', photos_path %>
